

{% if user.is_authenticated %}
<br>

Logged in as {{ user.username }}
<br>
<a href="{% url 'createtodo' %}">Create New Todo</a> <br>
<a href="{% url 'completedtodos' %}">View Completed Todos</a> <br>
<a href="{% url 'currenttodos' %}">View Current Todos</a> <br>
<a href="{% url 'home' %}">Home</a> <br>

<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

{% else %}

<a href="{% url 'signupuser' %}">Sign up</a> <br>

<a href="{% url 'loginuser' %}">Log in</a>
    
{% endif %}

{% block content %} {% endblock %}